<% layout("/layouts/boilerplate") %>
<%- include("../includes/hero.ejs") %>
<body>
  <br>
    <h4>All Users <i class="fa-solid fa-users-rectangle"></i></h4><br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% for(let user of allUsers) { %>
      <div class="col-lg-4 col-md-6">
        <div class="card-glass profile-card p-4 text-center clickable-card" onclick="window.location.href='/users/<%= user._id %>'">
          <div class="profile-img-wrapper mb-3">
            <img src="" alt="<%= user.name %>" class="profile-img">
          </div>
          <h4 class="mb-1"><%= user.name %> </h4>
          <span class="badge badge-mentor mb-2"> <%= user.role %> </span>
          <p class="text-muted mb-3"><%= user.domain %> </p>
          <div class="d-flex flex-wrap justify-content-center mb-3">
            <span class="interest-badge">React</span>
            <span class="interest-badge">TypeScript</span>
            <span class="interest-badge">UI/UX</span>
          </div>
          <div class="social-links mb-3">
            <a href="<%= user.linkedin %>"><i class="fab fa-linkedin fa-lg"></i></a>
            <a href="<%= user.github %>"><i class="fab fa-github fa-lg"></i></a>
            <a href="#"><i class="fas fa-globe fa-lg"></i></a>
          </div>
          <a href="#" class="btn btn-sm btn-primary-custom">Connect</a>
        </div>
      </div>
      <% } %>
    </div>

    <%- include("../includes/pagination.ejs") %>
</body>


